version: '3'
services:
  directus:
    container_name: directus-websocket-test
    image: directus/directus:9.10.0
    ports:
      - 8055:8055
    volumes:
      - ./data.db:/directus/data.db
      - ./dist:/directus/extensions/hooks/websocket-subscribe
      - ./examples/websocket-configuration:/directus/extensions/hooks/websocket-configuration
      - ./examples/custom-integration:/directus/extensions/hooks/websocket-custom-integration
    environment:
      KEY: '[ FILL UUID ]'
      SECRET: '[ FILL UUID ]'
      TELEMETRY: 'false'
      LOG_LEVEL: 'debug'

      DB_CLIENT: 'sqlite3'
      DB_FILENAME: './data.db'

      WEBSOCKET_PUBLIC: 'false'

      ADMIN_EMAIL: 'admin@example.com'
      ADMIN_PASSWORD: 'd1r3ctu5'

